/* Slider */
.owl-carousel .owl-dots, .owl-carousel .owl-nav {
    position: absolute;
    bottom: 0px;
    color: grey;
}

.owl-carousel .owl-nav {
    right: 0px;
}

.owl-carousel .owl-dots {
    width: 100%;
}

.owl-carousel .owl-dot, .owl-carousel .owl-prev, .owl-carousel .owl-next {
    cursor: hand;
    display: inline-block;
    height: 15px;
    margin: 20px 5px;
}

.owl-carousel .owl-dot[type="dot"] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #EEE;
    background: #EEE;
}

.owl-carousel .owl-dot[type="dot"].active {
    background: #CB231D;
}

.owl-carousel .owl-dot[type="text"] {
    background: #EEE;
    color: #7B7A7E;
    border: 1px solid #7B7A7E;
    padding: 5px;
    text-align: center;
    min-height: 30px;
    text-overflow: ellipsis;
}

.owl-carousel .owl-dot[type="text"].active {
    background: #CB231D;
    color: #EEE;
}

.ga-slider-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*padding: 0 15px;*/
    position: relative;
}

.ga-slider-container[isFull="false"] .owl-carousel {
    max-width: 95%;
    margin: 0 auto;
}

.ga-slider-prev, .ga-slider-next {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.ga-slider-prev {
    left: 0px;
}

.ga-slider-next {
    right: 0px;
}

.ga-slider-prev:before, .ga-slider-next:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 60px;
}

.ga-slider-prev:before {
    content: url('../GardenUtilsImg/arrowleft.png');
}

.ga-slider-next:before {
    content: url('../GardenUtilsImg/arrowright.png');//"\f105";
}

.ga-slider-items-3 {
    display: block;
}

.ga-slider-items-3 .item {
    max-width: 346px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 1024px) {
    .ga-slider-container[isFull="false"] .owl-carousel {
        max-width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .owl-carousel .owl-dot[type="text"] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 0px;
        min-height: initial;
    }
}

@media only screen and (max-width: 320px) {
    .ga-slider-container[isFull="false"] .owl-carousel {
        max-width: 80%;
        margin: 0 auto;
    }
}

/* Mega menu */
[ga-megamenu-target] {
	display: none;
}

[ga-megamenu-target].active {
	display: block;
}

/* Tab */
.ga-tab-title-container {
    display: table;
    padding: 0px;
    width: 100%;
}

.ga-tab-title-container > li {
    display: table-cell;
    text-align: center;
    list-style: none;
    width: 2%;
}

.ga-tab-title-container > li > a {
    text-decoration: none;
    color: #4c4b4b;
}

.ga-tab-title-container > li.ga-tab-title-default {
	border: solid 1px #d2d2d5;
	border-left: 0;
    padding: 10px 15px;
}

.ga-tab-title-container > li.ga-tab-title-default:first-child {
	border-left: solid 1px #d2d2d5;
}

.ga-tab-title-container > li.ga-tab-title-default.active {
    border-bottom: 0;
}

.ga-tab-title-container > li.prev,
.ga-tab-title-container > li.next {
	position: relative;
}

.ga-tab-title-container > li.prev > a:before,
.ga-tab-title-container > li.next > a:before {
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 45%;
}

.ga-tab-title-container > li.prev > a:before{
    background: url(../GardenUtilsImg/arrowleft.png);
}

.ga-tab-title-container > li.next > a:before {
    background: url(../GardenUtilsImg/arrowright.png);
}

.ga-tab-content-container {
    margin-bottom: 30px;
}

.ga-tab-content-container > .ga-tab-content {
    margin: 25px 5% 0 0;
    margin: 25px 5% 0 5%;/*kate*/
    display: none;
}
.ga-tab-content-container > .ga-tab-content.margin-none {
    margin: 0;
    
}
.ga-tab-content-container > .ga-tab-content.margin-bothSide-none {
    margin-left: 0;
    margin-right: 0;
}
.ga-tab-content-container > .ga-tab-custom{
    margin: 25px 0% 0 0%;/*kate*/
}

.ga-tab-content-container > .ga-tab-content.active {
    display: block;
}

.ga-tab-content-container > .ga-tab-content.ga-tab-content-default {
    border: solid 1px #d2d2d5;
}

.ga-tab-title-mobile {
    display: none;
    background: #e6e6e6;
    border-top: solid 1px #d2d2d5;
    clear: both;
    padding: 13px 13px 13px 40px;
    font-weight: bold;
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}

.ga-tab-title-mobile:focus, .ga-tab-title-mobile:hover {
    color: #4d4d4d;
}

.ga-tab-title-mobile.active {
    display: none;
}

.ga-tab-title-mobile:not([target="_blank"]):after {
    content: '';
    background: url(../GardenUtilsImg/arrowdown.png);
    width: 16px;
    height: 8px;
    display: inline-block;
    float: right;
    margin-top: 0.4em;
}

.ga-tab-title-mobile.active:not([target="_blank"]):after {
    background: url(../GardenUtilsImg/arrowup.png);
}

.ga-tab-title-mobile.ga-tab-collapse {
    display: inline-block;
    position: relative;
    width: 100%;
}

.ga-tab-title-mobile.ga-tab-collapse.active {
    background-color: #d8262e;
    color: #fff;
}

.ga-tab-title-mobile.ga-tab-collapse:not([target="_blank"]):after {
    content: '';
    background-image: url(../GardenUtilsImg/plus.png);
    width: 24px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.ga-tab-title-mobile.ga-tab-collapse.active:not([target="_blank"]):after {
    background-image: url(../GardenUtilsImg/less-white.png);
}

@media (max-width: 768px) {
	.ga-tab-title-container {
        display: none;
    }

    .ga-tab-title-container[ga-tab-title-container="tab"] {
        display: table;
    }

	.ga-tab-title-mobile, .ga-tab-title-mobile.active {
        display: block;
    }

    .ga-tab-title-mobile {
        padding-right: 14px;
    }
}

@media (max-width: 320px){
    .ga-tab-title-mobile {
        padding-right: 13px;
    }
}

/* Pagination */
.page_control {
    padding-top: 25px;
}

.page_control ul {
    display: inline-block;
    margin: 0 25px;
}

@media (max-width: 320px){
    .page_control ul li a {
        padding: 5px 7px;
    }
}

/* Title Collapse */
[ga-collapse="title"] {
    color: #4d4c4d;
    font-size: 15px;
    margin-bottom: 2%;
    display: inline-block;
    cursor: default;
}

a[ga-collapse="title"],
[ga-collapse="title"] p {
    color: #4d4c4d;
}

.ga-title-collapse-content {
    display: block;
}

[ga-collapse="title"]:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    background: #b62822;
    width: 18px;
    height: 18px;
}

@media (max-width: 768px){
	[ga-collapse="title"] {
        display: block;
        padding: 13px;
        margin-bottom: 0px;
        border-top: 1px solid #ccc;
        color: #4d4c4d;
        background-color: white;
    }

    [ga-collapse="title"].active {
        border-bottom: none; 
    }

    [ga-collapse="title"]:after {
        content: '';
        background: url(../GardenUtilsImg/arrowdown.png);
        width: 16px;
        height: 8px;
        display: inline-block;
        float: right;
        margin-top: 0.4em;
    }

    [ga-collapse="title"].active:after {
        background: url(../GardenUtilsImg/arrowup.png);
    }

    .ga-title-collapse-content {
        display: none;
    }

    .ga-title-collapse-content.active {
        display: block;
    }
}

/* QA Collapse */
.ga-qa-item-container li.ga-qa-item {
    list-style: none;
    border-bottom: 1px solid #bfbfbf;
    margin: 10px 0;
    padding-bottom: 10px;
}
.ga-qa-item-container li.ga-qa-item .ga-qa-item-top{
    position: relative;
}
.ga-qa-item-container li.ga-qa-item .ga-qa-item-top GardenUtilsImg{
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
}

.ga-qa-item-container li.ga-qa-item .ga-qa-item-top a.ga-qa-title {
    color: #333333;
    text-decoration: none;
    display: block;
    padding-left: 55px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
}

.ga-qa-item-container li.ga-qa-item .ga-qa-item-top a.ga-qa-title.active {
    padding-bottom: 10px;
}


.ga-qa-item-container[ga-qa-style="before"] > li.ga-qa-item >.ga-qa-item-top  a.ga-qa-title:before {
    content: '';
    background: url(../GardenUtilsImg/plus_bgred.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    position: absolute;
    left: 10px;
    left: 0;
}

.ga-qa-item-container[ga-qa-style="before"] > li.ga-qa-item > .ga-qa-item-top.active a.ga-qa-title:before {
    background: url(../GardenUtilsImg/minus_bgred.png);
}


.ga-qa-item-container[ga-qa-style="after"] > li.ga-qa-item > .ga-qa-item-top a:after {
    content: '';
    background: url(../GardenUtilsImg/arrowdown_bgred.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 6px;
}

.ga-qa-item-container[ga-qa-style="after"] > li.ga-qa-item > .ga-qa-item-top.active a:after {
    background: url(../GardenUtilsImg/arrowup_bgred.png);
}

.ga-qa-item-container li.ga-qa-item .ga-qa-item-top ~ .ga-qa-content {
    display: none;
    padding: 0 35px;
}

.ga-qa-item-container li.ga-qa-item .ga-qa-item-top.active ~ .ga-qa-content {
    display: block;
}

/* Footer Scroll Top */
.ga-scroll-top-btn {
    position: fixed;
    right: 20px;
    color: #FFF;
    bottom: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: none;
    cursor: pointer;
}

.ga-scroll-top-btn:after {
	content: '';
    background: url("../GardenUtilsImg/arrowup_circle.png");
    position: absolute;
    top: 0px;
    width: 48px;
    height: 48px;
    left: 0;
}

/* Chart */
[id$="-license-text"] {
    display: none;
}

.zc-preview-handler-middle {
    border: solid 3px #d7002a;
}

.zc-preview-handler-left:after,
.zc-preview-handler-right:after {
    position: absolute;
    top: 435px;
}

.zc-preview-handler-right:after {
    content: url('../GardenUtilsImg/chart-preview-right.png');
    left: -5px;
}

.zc-preview-handler-left:after {
    content: url('../GardenUtilsImg/chart-preview-left.png');
    right: -15px;
}

.canvasjs-chart-credit {
    opacity: 0.2;
}


/* Keypad */
.ga-keypad {
    box-sizing: border-box;
    display: inline-block;
    border:  2px solid rgb(178,178,178);
    padding: 12px;
    border-radius: 10px;
}

.ga-keypad .keypad-special { 
    width: 6.5em; 
    margin: 0.125em;
    background-color: white;
    border: 0px solid rgb(178,178,178);
}

.ga-keypad .keypad-spacebar { width: 13.25em; margin: 0.125em; }

.ga-keypad .keypad-key,
.ga-keypad .keypad-tab,
.ga-keypad .keypad-space {
    width: 2em; 
    margin: 0.125em;
    background-color: white;
    border: 1px solid rgb(178,178,178);
    color:#2C92B8; 
}

.ga-keypad .keypad-half-space { width: 1em; margin-left: 0.125em; }

.ga-keypad .keypad-key,
.ga-keypad .keypad-special {
    font-size: 12px;
}

.ga-keypad .keypad-special{
    background-color: #565656;
    color:white;
}

/* Font Size */
[class^="ga-font-text"] {
    line-height: 30px;
    text-align: inherit;
}

.ga-font-text-sm {
    font-size: 16px;
}

.ga-font-text-md {
    font-size: 18px;
}

.ga-font-text-lg {
    font-size: 22px;
}


/* Fixed Bar */
.ga-helper {
    position: fixed;
}

.ga-helper .ga-hidden,
.ga-helper .ga-show{
    padding: 10px;
}

.ga-helper .ga-show {
    position: absolute;
    bottom: 0;
    left: -40px;
}

/* Table Collapse */
table.dataTable thead .sorting {
      background-image: url("../GardenUtilsImg/sort_both.png")
}
table.dataTable thead .sorting_asc {
      background-image: url("../GardenUtilsImg/sort_asc.png")
}
table.dataTable thead .sorting_desc {
      background-image: url("../GardenUtilsImg/sort_desc.png")
}
table.dataTable thead .sorting_asc_disabled {
      background-image: url("../GardenUtilsImg/sort_asc_disabled.png")
}
table.dataTable thead .sorting_desc_disabled {
      background-image: url("../GardenUtilsImg/sort_desc_disabled.png")
}
td.details-control {
    background: url('../GardenUtilsImg/plus_bgred.png') no-repeat center center;
    cursor: pointer;
    width: 24px;
}
tr.parent td.details-control {
    background: url('../GardenUtilsImg/minus_bgred.png') no-repeat center center;
}

/* mmenu */
.mm-slideout { z-index:auto;}

.dataTables_wrapper .dataTables_info {
    display: none;
}


/* fade in fade out */
.fadeOut {

    -webkit-animation: fadeOut 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut 2s; /* Firefox < 16 */
        -ms-animation: fadeOut 2s; /* Internet Explorer */
         -o-animation: fadeOut 2s; /* Opera < 12.1 */
            animation: fadeOut 2s;

    /*display: none;*/
    visibility: hidden;
}

.fadeOut.hidden {
    display: none;
}

@keyframes fadeOut {
    from { visibility: visible; opacity: 1; }
    to   { visibility: hidden; opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from { visibility: visible; opacity: 1; }
    to   { visibility: hidden; opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from { visibility: visible; opacity: 1; }
    to   { visibility: hidden; opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeOut {
    from { visibility: visible; opacity: 1; }
    to   { visibility: hidden; opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeOut {
    from { visibility: visible; opacity: 1; }
    to   { visibility: hidden; opacity: 0; }
}

/* number bar */
.ga-number-bar-container {
    width: 100px;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.ga-number-bar-container .ga-number-bar-input {
    width: 50%;
    display: inline-block;
}

.ga-number-bar-container .ga-number-bar-input input {
    border: none;
    line-height: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.ga-number-bar-container .ga-number-bar-minus,
.ga-number-bar-container .ga-number-bar-plus {
    background-color: #d8d8d8;
    height: 35px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    line-height: 35px;
}

.ga-number-bar-container .ga-number-bar-minus:hover,
.ga-number-bar-container .ga-number-bar-plus:hover {
    background-color: #eee;
}

.ga-number-bar-container .ga-disabled {
    cursor: not-allowed;
    background-color: #fff;
}

/* Collapse */
.ga-collapse {
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility;
}

/* text max length */
.ga-text-maxlength-btn {
    display: none;
}
.ga-text-maxlength-container.ga-text-maxlength-active .ga-text-maxlength-btn {
    display: block;
    font-size: 15px;
}

/* marquee */
.ga-marquee-container {
    position: relative;
    overflow: hidden;
    display: inline-block;

    width: 90%;
    height: 50px;
}
.ga-marquee-container ul.ga-marquee-list {
    position: absolute;
    width: 100%;
}

.ga-marquee-container li.ga-marquee-ele {
    overflow: hidden;
    
    height: 50px;
    line-height: 50px;
    max-height: 50px;
}
